<!-- About Me -->

<div class="container fade-in-top about-height" style="padding-top: 10%">
	<div class="card-body">
		<div class="education-card-column">
			<div class="card-column-image">
				<%= image_tag "michael-pic.jpg", width: 300, height: 300, class: "d-flex" %>
			</div>
			<div class="card-column-large" style="color: #725570;">
				<h4>I'm <span style="color: #7F0483 !important;">Chael</span>, an aspiring Web Developer living in sunny Philippines.</h4>
				<p style="text-align: justify">My interest in programming started when I was creating a simple <span style="color: #7C4FCF !important;"> Equipment Inventory Management Web App</span>. And since then, I've studied more and more to enhance my programming skills. A little background about my work experience is that I started at a very early age of 18. My first Job was being a Technical Support agent for laptops and desktops. This went on for a long time in the BPO industry, and since I've just graduated, my desire to pursue Web Development is strong. I look forward to joining my first IT Industry soon. </p>
				<p>These days my time is spent applying for jobs, researching, designing, and coding. I also grind video games from time to time. </p>

			</div>
		</div>
	</div>
</div>


<!-- My Education -->

<div class="container tag about-height">
	<div class="card shadow-sm" style="background-color: #7C6D9D; display: flex; justify-content: center; margin-left: auto; margin-right: auto; padding: 30px;">
		<div class="card-body">
			<div class="div-center">
				<h3 class="mb-4">My Education</h3>
			</div>
			<div class="education-card-column">
				<div class="card-column-image">
					<%= image_tag "tip-logo.png", width: 200, height: 200, class: "d-flex" %>
				</div>
				<div class="card-column-large" style="color: white;">
					<h4 class="education-year">2022</h4>
					<h5>Technological Institute of the Philippines</h5>
					<h6>Bachelor of Science in Computer Science</h6>
					<ul>
						<li>Accredited by the Computing Accreditation Commission (CAC) of ABET (www.abet.org)</li>
						<li>Accredited by PCS Philippine Information and Computing Accreditation Board (PICAB)</li>
						<li>Accredited by Seoul Accord</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

