<div class="container">
	<div class="card" style="background-color: #578C9F; display: flex; justify-content: center; margin-left: auto; margin-right: auto; padding: 30px;">
		<div class="card-body">
			<div class="div-center">
				<h3 class="mb-4">My Education</h3>
			</div>
			<div class="education-card-column">
				<div class="card-column-image">
					<%= image_tag "tip-logo.png", width: 200, height: 200, class: "d-flex" %>
				</div>
				<div class="card-column-large" style="color: white;">
					<h4 class="education-year">2022</h4>
					<h5>Technological Institute of the Philippines</h5>
					<h6>Bachelor of Science in Computer Science</h6>
					<ul>
						<li>Accredited by the Computing Accreditation Commission (CAC) of ABET (www.abet.org)</li>
						<li>Accredited by PCS Philippine Information and Computing Accreditation Board (PICAB)</li>
						<li>Accredited by Seoul Accord</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>