<div class="container fade-in-image">
	<div class="nav-font-thin" style="display: flex; justify-content: center; color: #7C4FCF; padding-top: 10%;">
		<h2><strong>Contact Me</strong></h2>
	</div>
	<div class="container" style="padding-top: 5%; display: flex; justify-content: space-between;">
		<div class="card shadow rounded-0" style="width: 18rem; height: 15rem;">
		  <div class="card-body card-contacts fly">
		    <i class="fa-solid fa-envelope contact-icons"></i>
		    <p class="card-text"><strong>Email</strong></p>
		    <a href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=chaelrefuerzo@gmail.com" class="card-link stretched-link" style="text-decoration: none;">chaelrefuerzo@gmail.com</a>
		  </div>
		</div>

		<div class="card shadow rounded-0" style="width: 18rem;">
		  <div class="card-body card-contacts fly">
		    <i class="fa-brands fa-github contact-icons"></i>
		    <p class="card-text"><strong>GitHub</strong></p>
		    <a href="https://github.com/MichaelRefuerzo" class="card-link stretched-link" style="text-decoration: none;">MichaelRefuerzo</a>
		  </div>
		</div>

		<div class="card shadow rounded-0" style="width: 18rem;">
		  <div class="card-body card-contacts fly">
		    <i class="fa-brands fa-linkedin contact-icons"></i>
		    <p class="card-text"><strong>LinkedIn</strong></p>
		    <a href="https://www.linkedin.com/in/michael-refuerzo-226098119/" class="card-link stretched-link" style="text-decoration: none;">Michael Refuerzo</a>
		  </div>
		</div>
	</div>
</div>