/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

html {
    width: 100vw;
}

/* Body */
body {
  height: 100%;
  background-color: #E0F4FD !important;
  margin-left: auto;
  margin-right: auto;
}

.container {
    max-width: 1140px !important;
}

/* Navbar */
.nav {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: transparent;
}

/* Navbar logo */
.nav-font-thin {
    font-family: 'Raleway', sans-serif;
    color: #7C4FCF;
}

/* Navbar right buttons */
.nav-font-color {
    color: #578C9F !important;
}

/* HR Line */
hr {
    color: #578C9F !important;
}

.div-home-column {
    display: flex;
    justify-content: center;
}

/* Center home body */
.div-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
    text-align: center;
}

/* Center web icon */
.div-web-icon {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

/* Center Text */
.div-center {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white !important;
}

/* Home button padding top */
.div-home-buttons{
    margin-top: 1rem;
    width: 140px;
}

/* center cards */
.card-column-large {
    padding-left: 1.5rem;
    justify-content: center !important;
}

/* padding left for image */
.card-column-image {
    flex: 0 0 20%;
}

.education-card-column {
    display: flex;
    justify-content: center !important;
    margin-left: auto;
    margin-right: auto;
}

.fade-in-image {
    animation: fadeIn 3s;
}

.fade-in-top {
    animation: fadeInTop 3s;
}

/* fade in top */
.tag {
  opacity: 0;
  transform: translate(0, 0, 0);
  transition: all 2.5s;
}

/* fade in top */
.tag.visible {
  opacity: 1;
  transform: translate(0, 0, 0);
}

/* about page height */
.about-height {
    height: 60vh;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.skills-icons {
    list-style-type: none !important;
    display: flex;
    align-items: center !important;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    width: auto;
}