/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

/* Navbar */
.nav {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: transparent;
}

/* Navbar logo */
.nav-font-thin {
    font-family: 'Raleway', sans-serif;
    color: #7C4FCF;
}

/* Container */
.container {
 max-width: 50% !important;
}

/* Navbar right buttons */
.nav-font-color {
    color: #578C9F !important;
}

/* HR Line */
hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    color: #578C9F !important;
}

/* Body */
body {
  height: 100%;
  background-color: #E0F4FD !important;
}

/* Center home body */
.div-home {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    max-width: 650px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Center web icon */
.div-web-icon {
  padding-top: 185px;
  display: flex !important;
  justify-content: center !important;
}